
<div class="row full-height no-margin">
  <div class="col s12 m7 full-height no-padding">
    <div class="row full-height  no-margin">
      <div id="dst" class="col s8 full-height" [dragula]='"instr"'>
      </div>

      <div id="src" class="col s4 full-height grey lighten-2" [dragula]='"instr"'>
        <div id="mystery" class="card-panel red lighten-2">
          mystery word = <div id="mysteryValue" class="dst-inline blue lighten-4" [dragula]='"instr"'></div>
        </div>
        <div class="card-panel red lighten-2">
          guess = <div id="guessValue" class="dst-inline blue lighten-4" [dragula]='"instr"'></div>
        </div>

        <div class="card-panel orange lighten-2">
          while ( <div id="whilePredicat" class="dst-inline green lighten-4" [dragula]='"instr"'></div> )
          <br/>
          <div class="dst-block white" [dragula]='"instr"'>
          </div>
        </div>

        <div class="value blue lighten-2">
          random word
        </div>
        <div class="value blue lighten-2">
          "*" x length of the mystery word
        </div>
        <div class="predicat green lighten-2">
          alive
        </div>


      </div>
    </div>
  </div>

  <div class="col s12 m5 black full-height">
  </div>
</div>
